<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <base data-template="lib:parse-params" href="${base-url}"/>
        <link rel="icon" type="image/x-icon" data-template="lib:parse-params" href="${base-url}resources/images/leaf.ico"/>
        <link rel="shortcut icon" data-template="lib:parse-params" href="${base-url}resources/images/leaf.ico"/>
        <title data-template="lib:parse-params">${page-title:Digital Splitleaf}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async="true" src="https://www.googletagmanager.com/gtag/js?id=G-9HSZZ1BZCT"/>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'G-9HSZZ1BZCT');
        </script>
                <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
                <link rel="preconnect" href="https://fonts.gstatic.com"/>
                <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Fjalla+One|Roboto+Slab:300,400,500,700"/>
                
                <link rel="apple-touch-icon" sizes="152x152" href="resources/images/logo-med.png"/>
                <style>
                    .tab-container { display: flex; width: 100%; }
                    .tablink { flex: 1; }
                    .tablink.active { background-color: white; color: black; }
                </style>
            </head>
            <body>
            <div class="content">
                <div class="horizontal-center">
                <a href="index.html" title="Digital Splitleaf Home" class="logo-link">
                <object class="responsive" type="image/svg+xml" data="resources/images/header.svg" alt="Digital Splitleaf Psalter">
                    <img src="resources/images/header.png" height="271" width="700" alt="Digital Splitleaf Psalter"/>
                </object>
                </a>
                </div>
        <div class="tab-container">
            
            <div class="tab-dropdown">
                <button data-template="app:tab-active" data-template-tab="about" onclick="location.href='about.html'">ABOUT</button>
                <div class="tab-submenu">
                        <button onclick="location.href='about.html#editions'">Editions</button>
                        <button onclick="location.href='about.html#technical'">Technical Infrastructure</button>
                        <button onclick="location.href='about.html#team'">Project Team</button>
                        <button onclick="location.href='about.html#contact'">Contact &amp; Support</button>
                 </div>
            </div>
            <div class="tab-dropdown">
                <button data-template="app:tab-active" data-template-tab="community" onclick="location.href='community.html'">COMMUNITY</button>
                <div class="tab-submenu">
                        <button onclick="location.href='community.html#github'">GitHub Contributors</button>
                        <button onclick="location.href='community.html#social'">Social Media</button>
                 </div>
            </div>
            <div class="tab-dropdown">
                <button data-template="app:tab-active" data-template-tab="events" onclick="location.href='events.html'">EVENTS</button>
                <div class="tab-submenu">
                        <button onclick="location.href='events.html#events'">Events &amp; Activities</button>
                        <button onclick="location.href='events.html#competition'">Tune Competition</button>
                 </div>
            </div>
            <button data-template="app:tab-active" data-template-tab="home" onclick="location.href='https://blog.splitleaf.org'">BLOG</button>
        </div>
        
        <div id="content"/>
        
        </div>
    
   
    <footer style="background-color: #fff; margin-top:-20px">
    <p align="center">Created by Timothy Duguid in 2021<br/>
    The historical and descriptive content of this site is protected by Creative Commens License <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC</a>
        </p>
    </footer>
   </body>
</html>